<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1979708930-uikp58h2i5ds1bfrr9bfcapgqg5qac8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1979708930-uikp58h2i5ds1bfrr9bfcapgqg5qac8t</string>
	<key>API_KEY</key>
	<string>AIzaSyA8xtwmkVp-OtjcF2FhHIDsFcx1ZfQaSi4</string>
	<key>GCM_SENDER_ID</key>
	<string>1979708930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toonie</string>
	<key>PROJECT_ID</key>
	<string>toonie-84cd2</string>
	<key>STORAGE_BUCKET</key>
	<string>toonie-84cd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1979708930:ios:bd4d4ab545e074f1</string>
	<key>DATABASE_URL</key>
	<string>https://toonie-84cd2.firebaseio.com</string>
</dict>
</plist>